html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

h2 {
    font-family: 'Open Sans';
}

/* section {
    background-color: #E5E5E5;
} */

.title-head__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.conteiner {
    width: 970px;
    margin: 0 auto;
    text-align: center;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.line {
    margin-top: 20px;
    border: 1px solid #828282;
}


.nav__menu {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.link {
    color: #828282;
    scroll-behavior: smooth;
}

.link:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: .5s;
}



.hero {
    background-color: #FFFFFF;
}

.hero_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-me {
    padding: 100px;
    background-color: #E5E5E5;
}



.pararaphs {
    padding: 20px 0;
}

.pararaphs_text {
    margin-top: 25px;
    margin-bottom: 25px;
}

.skills {
    background-color: #ffffff;
    padding: 100px;
}



.text__item {
    margin: 50px 0;
}

.skills__items {
    display: flex;
    gap: 97px;
    justify-content: center;
}

.portfolio {
    padding: 100px 0 50px 0;
    background-color: #E5E5E5;
}

.portfolio__text {
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.footer__content {
    background-color: #ffffff;
    padding: 100px;
}

.button {
    text-align: center;
}

.button__send-message {
    /* border: 1px solid black; */
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    color: #ffffff;

}

.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    /* text-align: center; */
    color: #070707;
    margin-bottom: 50px;
}


/* .conteiner:nth-child(2n) {
    background-color: #F6F6F6;
} */